
.porfilemanue{
    width: 190px;
    color: rgb(97, 97, 115);
    /* border: 1px solid rgb(173, 170, 170); */
    background: rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 12px;
    position: absolute;
    /* top: -9999px; */
    left: 0;
    border-radius:  10px; ;
    /* transition: 0.5s; */
    visibility: hidden;
    
}
.pfofilebtn{
 background: rgb(159, 32, 137);
 color: white;
 font-weight: bold;
 font-size: 15px;
 width: 90%;
 padding: 4px 0px 16px;
 border: none;
 border-radius: 5px;

}
.profile{
    position: relative;
    /* display: inline-block; */
   
}
.innerdiv{
    padding: 20px;
}
.profile:hover .porfilemanue {
top: 20px;
visibility: visible;
      
}
.profile:hover {
    border-bottom: 3px solid  rgb(159, 32, 137);
}

/* scroll bar product list  */
.scrolbar div:hover{
    border-bottom: 3px solid  rgb(159, 32, 137) ;
    color: rgb(159, 32, 137);
    font-weight: bold;

}





 .Category{
    text-align: center;
    width: 90%;
    margin-left: 5% ;
    height: 50vh;
    display: none;
    position: fixed;
    /* background-color: #e6dede; */
    background: rgb(255, 255, 255);
    overflow-x: auto;
    scrollbar-width: none;
    
}
/* dispal compnent */
.dispalycomp{
    display: block;
    z-index: 100;
}

/* /* ye porudct womenctegory wali coponent ko set kiya h  * */

.flexdirctioncolum{
    /* flex-direction: column; */
}

        

     
       
